awesome/
cef_user_data/
dconf/
discord/
flameshot/
gh/
go/
gtk-3.0/
Insomnia/
libreoffice/
lutris/
matplotlib/
menus/
nvim/
obs-studio/
pavucontrol.ini
pomatez/
pomotroid/
pulse/
qBittorrent/
QtProject.conf
scripts/
spaceship.zsh.zwc
spaceship.zsh
vlc/
yay/
rofi/
